.jumbotron{
  background-color: light;
  color: grey;
  margin-top: 20px;
}

footer{
  background-color: lightgrey;
  padding: 10px 10px 0 10px;
  margin-bottom: 0px;
  margin-top: 10px;
  justify-content: space-between;
}

.card-hotel{
    flex: 1 150px;
    padding: 10px 5px 10px 5px;
    flex: column;
    background-color: rgb(230, 230, 230);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top:6px solid skyblu;
    border-style: ridge;
    border-radius: 10px;
}

.btn-reservar{
  width: 100%;
}

.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
